<div class="card card-accent-primary">
  <div class="card-header">
    Choose a DB Configuration <a style="cursor: pointer;" tooltip="Add new" (click)="addConfig()" class="badge badge-primary float-right"><span class="fa fa-plus"></span></a>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item" [ngClass]="selected(c.id)" *ngFor="let c of configurations">
        <a style="cursor: pointer;" (click)="onSelect(c.id)">
          <span class="text-center badge badge-danger badge-pill pull-right" *ngIf="c.type === 1">MYSQL</span>
          <span class="text-center badge badge-info badge-pill pull-right" *ngIf="c.type === 2">POSTGRES</span>
          <span class="text-center badge badge-success badge-pill pull-right" *ngIf="c.type === 3">ORACLE</span>

          <span class="text-center">{{c.databaseName}}</span>
        </a>
      </li>
    </ul>

  </div>
</div>
