// Variable overrides
$sidebar-nav-link-hover-bg:           #D71973 !default;
$sidebar-bg:                          #0DB2AF !default;
$sidebar-nav-link-active-icon-color:  #D71973 !default;
$sidebar-minimizer-bg:                rgba(13, 178, 175, 0.1) !default;
