// Variable overrides
$sidebar-nav-link-hover-bg: #D71973 !default;
$sidebar-bg: #f6f6f6 !default;
$sidebar-nav-link-color:       #222 !default;
$sidebar-nav-link-active-color:       #D71973 !default;
$sidebar-nav-link-active-icon-color: #D71973 !default;
$sidebar-minimizer-bg: rgba(13, 178, 175, 0.1) !default;
$primary: #0DB2AF !default;
$success: #D4D948 !default;
$danger: #D71973 !default;
