// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

/*.card-accent-primary {
  border-top-color: #0DB2AF;
  border-top-width: 2px;
}

.card-accent-success {
  border-top-color: #D4D948;
  border-top-width: 2px;
}

.card-accent-danger {
  border-top-color: #D71973;
  border-top-width: 2px;
}*/
/*
.badge-danger {
  color: #fff;
  background-color: #D71973;
}*/
